/* ==========================================================================
	 Base Styles
	 ========================================================================== */

     :root {
        --primary: #C39948;
        --pure: #ffffff;
        --dark: #232323;
        --paragraph: #9d8189;
        --background: #BABABA;
      }
      
      html {
        scroll-behavior: smooth;
      }
      
      html,
      body {
        overflow-x: hidden;
      }
      
      body {
        color: var(--dark);
        font-family: "Poppins", sans-serif;
      }
      
      body h4 {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--paragraph);
      }
      
      body h3 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--dark);
      }
      
      body h2 {
        font-size: 2rem;
        font-weight: 100;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        color: var(--dark);
      }
      
      body h1 {
        font-size: 2rem;
        font-weight: 100;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        font-weight: 400;
      }
      
      span {
        color: var(--primary);
      }
      
      body p {
        font-size: 1.2rem;
        line-height: 1.4;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: var(--paragraph);
      }

      /* ==========================================================================
Scroll Bar Section
========================================================================== */

* {
    scrollbar-color: var(--dark), var(--pure);
    scrollbar-width: thin;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark);
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--primary);
    border-radius: 20px;
  }
  
  /* ==========================================================================
  Scroll To The Top Section
  ========================================================================== */
  
  #scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px;
    cursor: pointer;
    display: none;
  }
  
  /* ==========================================================================
  Responsive Section
  ========================================================================== */