.SearchBar {
  min-height: 50vh;
  background-image: url('ravenous.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SearchBar-sort-options li {
  display: inline;
  margin: 2rem;
  color: var(--pure);
  font-size: calc(3px + 2vmin);
}

.SearchBar-sort-options li:hover {
  cursor: pointer;
  color: var(--primary);
  transition: all 0.3s ease;
}

.divider-class {
  margin-bottom: 10px;
}

.divider {
  border: none;
  width: 500px;
  height: 1px;
  background-color: var(--pure);
  margin: 10px 0;
  opacity: 60%;
}

.SearchBar-fields {
  margin-bottom: 20px;
}

.SearchBar-fields input {
  padding: 2px;
  padding-left: 10px;
  padding-right: 120px;
  margin-left: 10px;
  font-family: 'Satisfy', cursive;
  border-width: 0;
  border-radius: 2px;
}

.button {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  border: 2px solid transparent;
  cursor: pointer;
  color: var(--pure);
  background: var(--primary);
  font-family: 'Roboto', sans-serif;
  border-radius: 2px;
}

.button:hover {
  color: var(--pure);
  background: var(--dark);
  transition: all 0.3s ease;
}
