.Business {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid var(--primary);
  margin: 10px;
  background-color: var(--pure);
  color: var(--dark);
  box-sizing: border-box;
  border-radius: 10px; /* Increase the border-radius for a more rounded look */
  overflow: hidden; /* Hide any content that exceeds the card dimensions */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.Business:hover {
  transform: scale(1.05); /* Enlarge the card on hover for a subtle interaction */
}

.imageContainer {
  position: relative; /* Position relative for absolute positioning of overlay */
}

img {
  width: 100%;
  height: 12rem;
  object-fit: cover; /* Maintain image aspect ratio and cover the container */
  border-bottom: 1px solid var(--primary); /* Add a border between image and content */
}

.businessInfo {
  padding: 1rem;
}

.businessAddress {
  margin-bottom: 1rem;
}

.businessReviews {
  padding: 0.5rem;
  border-top: 1px solid var(--primary); /* Add a border between content and reviews */
}

.rating {
  margin-bottom: 0.5rem;
}
